button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
  background: none;
  color: inherit;
  font: inherit;
  border: 0;
  line-height: 1;
  padding: 0;
  transition: $ts $te;

  &:disabled,
  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }
}

.button {
  background-color: color(red);
  padding: 15px 96px;
  border-radius: 6px;

  @include hover {
    background-color: color(white);
    color: color(blue, 3);
  }
}