$colors: (
  white: (
    1: #fff
  ),
  black: (
    1: #000
  ),
  gray: (
    1: #666,
    2: #ccc,
    3: #333
  ),
  red: (
    1: #fc4747
  ),
  blue: (
    1: #5a698f,
    2: #161d2f,
    3: #10141e
  )
);

// FUNCTION
@function color($color, $tone: 1) {
  @return map-get(map-get($colors, $color), $tone);
}