*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html {
  font-size: $base-font-size;
}

body {
  -webkit-backface-visibility: hidden;
  position: relative;
  // min-width: 360px;
  min-height: 100vh;
  @include font-weight(light);
  color: $body-color;
  background-color: $body-bg-color;
  font-family: $body-font;
  font-size: 100%;
  line-height: 1.15;
  text-rendering: optimizeSpeed;
  margin: 0;
}

// Figure element reset
figure {
  display: block;
  margin: 0;
}

// Images
img,
// svg,
picture {
  display: block;
  max-width: 100%;
}

img[width] {
  width: auto; // Defer to max-width
}

img[width][height] {
  height: auto; // Preserve aspect ratio
}

// Let SVG scale without boundaries
svg,
img[src$=".svg"] {
  // width: 100%;
  max-width: none;
  height: auto;
}

iframe {
  border: 0;
}