$slices: (
  0:    0px,
  1:    00px,
  2:    200px,
  3:    360px,
  4:    400px,
  5:    500px,
  6:    600px,
  7:    768px,
  8:    800px,
  9:    900px,
  10:   1000px,
  11:   1100px,
  12:   1200px,
  13:   1300px,
  14:   1400px,
  15:   1500px,
  16:   1600px,
  17:   1700px,
  18:   1800px,
  19:   1920px,
  20:   2000px,
);

// colors
$body-color: color(white);
$body-bg-color: color(blue, 3);

// type variables
$arial: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$outfit: 'Outfit', sans-serif;
$body-font: $outfit;
$header-font: $outfit;
$base-font-size: 15px;

// Layout
$component-margin: 120px;
$inner-max-width: 1400px;
$tablet-break: 7;
$desktop-break: 12;

// radius
$border-radius: 3px;

// transitions
$ts: .15s; // transition speed
$te: ease-in-out; // transition ease